.card {
  border-radius: 10px;
  min-width: 350px;
  margin: 30px;
}
.card:hover {
  animation: card-shadow-on-hover 2s infinite;
}

@keyframes card-shadow-on-hover {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  50% {
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  }
  100% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
}

.form-control,
.form-control:focus {
  border-radius: 15px;
}

.invalid-input,
.invalid-input:focus {
  border: 1px solid #dc3545;
}

.valid-input,
.valid-input:focus {
  border: 1px solid #35dc67;
}

.loading-invisible {
  visibility: hidden;
}

.start-color-change-anim {
  animation: color-changing-anim 1.5s infinite !important;
}
@keyframes color-changing-anim {
  0% {
    color: black;
  }
  50% {
    color: #fd9711;
  }
  80% {
    color: #dc3545;
  }
  100% {
    color: black;
  }
}
